In [4]:
list1=[1,2,3,"abc",5.6]
for e,i in enumerate(list1,1):
    print(e,":",i)

1 : 1
2 : 2
3 : 3
4 : abc
5 : 5.6

In [5]:
a=[1,2,3,3,3,3,3,5,7,8,17,3]
set(a)

{1, 2, 3, 5, 7, 8, 17}

In [6]:
{1,3,3,3,4,5,6,7,8,8}

{1, 3, 4, 5, 6, 7, 8}

In [7]:

d={
    "name":"John",
    "age":20,
    "country":"India"
    
}

In [8]:
d.keys()

dict_keys(['name', 'age', 'country'])

In [9]:
d.values()

dict_values(['John', 20, 'India'])

In [22]:
for key,value in d.items():
    print("{} is equal to {}".format(key,value))

name is equal to John
age is equal to 20
country is equal to India